
/* header {
    height: 80px;
    background: rgba(72,72,72,0.4);
    padding-top: 20px;
} */

header .logo {
  height: 50px;
  width: 40px;
  margin-top: -2px;
  margin-top: 8px;
}



.desktop-nav .logo {
    float: left;
}

/* Mobile */

.desktop-nav ul {
    float: right;
    margin-top: 30px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right;


}

.desktop-nav li {
    display: inline-block;
    margin-left: calc(90px - 30px);

}

.desktop-nav a,
.desktop-nav a:visited {
    color: #8c7f50;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: .09%;
    color: white;
    text-decoration: none;

}

/* MOBILE */

.mobile-menu {
      display: none;
      width: 100%;
      background: ;
      line-height: 0.9em;
      font-weight: 400;
      width: 100%;
      text-align:center;
    	position: relative;
      margin:0 auto;
}


.mobile-menu ul {
  	list-style-type:none;
    margin: 0 auto;
    padding-left:0;
    text-align:center;
    width:100%;
    position: fixed;
    background: white;
    display: none;
}


.mobile-menu li {
  	display: inline-block;

}




.mobile-menu li a {
  	display: block;
  	min-width: 140px;
  	text-align: center;
  	color: #8c7f50;
    font-weight: 200;
    text-transform: uppercase;
  	background: white;
  	text-decoration: none;
    padding: 10px 0;

}


.mobile-menu li:hover a {
  	color:  rgba(72,72,72,0.4);
    background-color:  rgba(72,72,72,0.4);
}


/* .mobile-menu li:hover .mobile-menu ul a:hover {
	color:  rgba(72,72,72,0.4);
} */


.mobile-menu li ul {
  	display: none;
}

.mobile-menu li ul li {
  	display: block;
  	float: none;
}


.mobile-menu li ul li a {
  	width: auto;
  	min-width: 100px;
  	padding: 0 20px;
}



.mobile-menu .show-menu {
  	text-decoration: none;
  	color: black;
  	background: white;
  	text-align: center;
  	padding: 10px 15px;
  	display: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 60px;
}

.mobile-menu .show-menu span{
   padding-left: 35px;
}


.mobile-menu input[type=checkbox]{
    display: none;
}


.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}



@media screen and (max-width : 768px){
   .lines {
      border-bottom: 15px double white;
      border-top: 5px solid white;
      content:"";
      height: 5px;
      width:20px;
      padding-right:15px;
      float: right;
}

.mobile-menu {
      display: block;
      width: 100%;
      background: ;
      line-height: 0.9em;
      font-weight: 400;
      width: 100%;
      text-align:center;
      position: relative;
      margin:0 auto;
}

	.mobile-menu ul {
  		position: static;
  		display: none;
	}

	.mobile-menu li {
  		margin-bottom: 1px;
	}

	.mobile-menu ul li, .mobile-menu li a {
  		width: 100%;
	}

	.mobile-menu .show-menu {
  		display:block;
	}

  header .logo {
      margin-top: -2px;
  }
}



/* .mobile-nav {
    display: none;
    text-align: center;

}



.mobile-nav .hamberburger-container,
.mobile-nav .search-container {
    width: 40px;
    display: inline-block;
    background: #8c7f50;
    margin-left: -4px;


}

.mobile-nav .logo-container {
    background: ;
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 100px);
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: white;
} */

@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }

    .logo-container .logo {
       display: inline-block;
    }

    header {
      height: 60px;
    }
}


h2 {
    font-size: 40px;
    color: #8c7f50;
}

/* MAIN */


 .hero {
       background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;);
       position: bottom;
       background-size: cover;
      /* background-image: linear-gradient(rgba(255, 255, 255, 0) 98%,rgb(255, 255, 255) 99%), url(https://media1.popsugar-assets.com/files/thumbor/WYQ--nz4k5a45CRd8uSvkXMgLbE/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/10/20/800/n/1922283/69a91fa2fe402ba2_Hotline-Bling-Drizzy-Dance/i/Trying-Wake-Up-Your-Roommates-When-You-Come-Home-Late.gif); */
     /* background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;); */
      background-size: cover;
      color: white;
      text-align: center;
      background-position: top;
      height: 650px;


}

/* FIXME:   */

main {
    color: #a1917c;
    text-shadow: 0px 5px 14px #b7b7b7;;
    height: 700px;
    width: 100%;
    text-align: center;
    /* padding: 80px; */
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 40px;


}


hr {


  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  border: 1px;
  border-bottom: 1px solid #d6cfc7;

}




.text-box {
  background: white;

}



footer {
    height: 400px;
    background: white;
    text-align: center;
    margin-top: 150px;

}

footer a {
    color: #999;
    line-height: 2;
    text-align: center;

}

h2 {
    font-size: 40px;
    font-weight: 200;
    color: #a1917c;
}

.footer-mobile {
    display: none;
    text-align: center;
}



.footer-nav ul {
     margin-top: 10px;
     padding: 0;
     width: calc(100% - 40px);

}

.footer-nav li {
    display: inline-block;
    margin-left: calc(60px - 20px);
}

  .social-icons i {
       font-size: 3em;
       margin-right: 5px;
 }


h1 {
    font-size: 50px;
    font-weight: 200;


}

p {
  font-size: 35px;
  font-weight: 100;

}

@media (max-width: 1100px) {
    .hero {
        background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;);
        position: bottom;
        background-size: cover;
        height: calc(100vh - 100px);
        }

      main {
            padding-top: 90px;
            padding: 50px;
        }

      hr {
        width: 500px;
        }

@media (max-width: 900px) {
    .hero {
        background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;);
        background-size: cover;
        position: bottom;
        text-align: center;
        height: calc(75vh - 75px);
        }

        hr {
          width: 400px;
          }


@media (max-width: 770px) {
    .hero {
        background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;);
        position: bottom;
        background-size: cover;
        height: calc(65vh - 65px);
        }

      main {
            padding-top: 90px;
            padding: 30px;
        }

      hr {
        width: 300px;
        }

      h1 {
            font-size: 60px;
            font-weight: 100;
        }

      p {
          font-size: 25px;
          font-weight: 100;
        }
}


@media (max-width: 500px) {
    .hero {
        background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;);
        position: bottom;
        background-size: cover;
        height: calc(50vh - 50px);
        }

      main {
            padding-top: 90px;
            padding: 20px;
        }

      hr {
        width: 300px;
        }

      h1 {
            font-size: 60px;
            font-weight: 200;
        }

}


@media (max-width: 360px) {
  .hero {
      background: url(https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/2017627-ovo-fest-toronto-2017.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg) no-repeat;);
      background-size: cover;
      position: bottom;
      height: calc(35vh - 35px);

      }

      hr {
        width: 200px;
      }
      main {

            padding: 5px;
            padding-top: 20px;
        }
      h1 {
        font-size: 40px;
      }

      p {
        font-size: 22px;
      }
}



  @media (max-width: 768px) {
      .footer-mobile {
          display: block;

      }
      .footer-nav {
          display: none;
      }


      .social-icons li {
        display: inline-block;
        padding-right: 30px;
      }

      footer {
        margin-top: 40px;

      }
