
/* header {
    height: 80px;
    background: transparent;
    padding-top: 20px;
} */

header .logo {
    height: 50px;
    width: 40px;
    margin-top: -2px;
    margin-top: 8px;
}

.desktop-nav .logo {
    float: left;
}

/* Mobile */

.desktop-nav ul {
    float: right;
    margin-top: 30px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: calc(90px - 30px);
}

.desktop-nav a,
.desktop-nav a:visited {
    color: #8c7f50;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: .09%;
    color: white;
    text-decoration: none;
}

/* MOBILE */




.mobile-menu {
    display: none;
    width: 100%;
    background: ;
    line-height: 0.9em;
    font-weight: 400;
    width: 100%;
    text-align:center;
    position: relative;
    margin:0 auto;
}


.mobile-menu ul {
    list-style-type:none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: fixed;
    background: white;
    display: none;
}


.mobile-menu li {
  	display: inline-block;
}




.mobile-menu li a {
  	display: block;
  	min-width: 140px;
  	text-align: center;
  	color: #8c7f50;
    font-weight: 200;
    text-transform: uppercase;
  	background: white;
  	text-decoration: none;
    padding: 10px 0;

}


.mobile-menu li:hover a {
	  color:  rgba(72,72,72,0.4);
    background-color:  rgba(72,72,72,0.4);
}



/* .mobile-menu li:hover .mobile-menu ul a:hover {
	color:  rgba(72,72,72,0.4);
} */


.mobile-menu li ul {
  	display: none;
}


.mobile-menu li ul li {
  	display: none;
  	float: none;
}


.mobile-menu li ul li a {
  	width: auto;
  	min-width: 100px;
  	padding: 0 20px;
}



.mobile-menu .show-menu {
  	text-decoration: none;
  	color: black;
  	background: white;
  	text-align: center;
  	padding: 10px 15px;
  	display: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 60px;
    max-width: 768px;
}

.mobile-menu .show-menu span{
     padding-left: 35px;
}


.mobile-menu input[type=checkbox]{
    display: none;
}


.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}



@media screen and (max-width : 768px){
   .lines {
    border-bottom: 15px double white;
    border-top: 5px solid white;
    content:"";
    height: 5px;
    width:20px;
    padding-right:15px;
    float: right;
}

.mobile-menu {
    display: block;
    width: 100%;
    background: ;
    line-height: 0.9em;
    font-weight: 400;
    width: 100%;
    text-align:center;
    position: relative;
    margin:0 auto;
}

	.mobile-menu ul {
  		position: static;
  		display: none;
	}

	.mobile-menu li {
  		margin-bottom: 1px;
	}

	.mobile-menu ul li, .mobile-menu li a {
  		width: 100%;
	}

	.mobile-menu .show-menu {
  		display:block;
	}

  header .logo {
    margin-top: -2px;
  }
}


@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }
    .desktop-nav {
        display: none;
    }
    .logo-container .logo {
       display: inline-block;
    }
    header {
      height: 60px;

    }
}


/* BODY */
.hero {
    height: 700px;
    width: 100%;
    /* background: url('../img/background-pic2.jpg'); */
    background: url(http://1.bp.blogspot.com/-5kcGSTMbud4/UQxYvxp8lOI/AAAAAAAAAgY/wpX6xrF5WxY/s1600/_STR8556.TIF);
    /* background: url('../img/background-2.jpg') no-repeat; */
    background-size: cover;
    position: bottom;
}

#form-main{
  	width: 100%;
  	float: left;
  	padding-top: 70px;
    /* background: url('../img/background-2.jpg') no-repeat; */
    /* background: url('../img/background-pic2.jpg'); */
    /* background: url(http://1.bp.blogspot.com/-5kcGSTMbud4/UQxYvxp8lOI/AAAAAAAAAgY/wpX6xrF5WxY/s1600/_STR8556.TIF); */
    background-size: cover;
    background-position: bottom;
    height: 750px;
    text-align: center;
}

#form-main h3 {
    color: #a1917c;
    font-size: 50px;
    font-weight: 100;
}

#form-div {
  	background-color: rgba(72,72,72,0.4);
  	padding-left: 35px;
  	padding-right: 35px;
  	padding-top: 35px;
  	padding-bottom: 50px;
  	width: 450px;
  	float: left;
  	left: 50%;
  	position: absolute;
    margin-top: 30px;
  	margin-left: -230px;
}

.feedback-input {
  	color: #8c7f50;
    font-weight: 200;
  	font-size: 18px;
  	border-radius: 0;
  	line-height: 22px;
  	padding: 13px 13px 13px 15px;
  	margin-bottom: 10px;
  	width: 100%;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  	background-color: white;
}

#sub-button{
  	float:left;
  	width: 100%;
    border:  solid 4px #a1917c;
    border-radius: 0;
  	background-color: #a1917c;
  	color: white;
  	font-size: 24px;
    font-weight: 100;
  	padding-top: 22px;
  	padding-bottom: 22px;
    margin-top: -4px;
}



#sub-button:hover{
  	background-color: white;
  	color: #a1917c;
    border-color: white;
}


.submit:hover {
    width:100%;
}


@media only screen and (max-width: 800px) {
	  #form-main{
    margin-top: 10px;
    padding-top: 10px;
	}
}

@media only screen and (max-width: 580px) {
	  #form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 12px;
		padding-left: 3%;
		padding-right: 3%;
    margin-top: 10px;
    padding-top: 30px;
	}
}

/* FOOTER */

/* General styles */

footer {
    height: 400px;
    background: white;
    text-align: center;
    margin-top: 850px;

}

footer a {
    color: #999;
    line-height: 2;
    text-align: center;
}

h2 {
    color: #a1917c;
    font-size: 40px;
    font-weight: 200;
}

/* MOBILE*/

.footer-mobile {
    display: none;
    text-align: center;
}

 .footer-nav ul {
    margin-top: 10px;
    padding: 0;
    width: calc(100% - 30px);
}

.footer-nav li {
    display: inline-block;
    margin-left: calc(60px - 20px);
}

.social-icons i {
    font-size: 3em;
    margin-right: 5px;
}


@media (max-width: 768px) {

    .footer-nav {
        display: block;
    }

    .hero {
      height: calc(65vh - 65px);
    }
    footer {
        margin-top: 750px;
    }
}


@media (max-width: 550px) {
  footer {
      margin-top: 650px;
  }
  #form-main h3 {
    font-size: 50px;
  }
  .hero {
    height: calc(55vh - 55px);
}

@media (max-width: 450px) {

    .hero {
      height: calc(45vh - 45px);

    }

    footer {
        margin-top: 550px;
    }
}

@media (max-width: 350px) {

    .hero {
      height: calc(35vh - 35px);

    }

    footer {
        margin-top: 550px;
    }
}
