
body {
  background-size: contain;
  background-position: bottom;
}


/* header {
    height: 80px;
    background: white;
    padding-top: 20px;
} */

header .logo {
    height: 50px;
    width: 40px;
    margin-top: -2px;
    margin-top: 8px;
}

 .hero {
      background: url(http://1.bp.blogspot.com/-f1CgM8KoCdY/WEsp7dU-CyI/AAAAAAAABsg/WjUXVmPXHwcnntgUIcvw9Mv-NzCZNkJgwCK4B/s1600/GROUP_17_034_OFFWHITE%2B%25282%2529.jpg) no-repeat;);
      color: white;
      text-align: center;
      background-size: cover;
      background-position: top;
      height: 650px;
}

p {
      font-size: 100px;
      font-weight: 800;
      padding-top: 300px;
}

.desktop-nav .logo {
      float: left;
}

/* Mobile */

.desktop-nav ul {
    float: right;
    margin-top: 30px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: calc(90px - 30px);
}

.desktop-nav a,
.desktop-nav a:visited {
      color: #8c7f50;
      font-size: 18px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
  }

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
      opacity: .09%;
      color: white;
      text-decoration:none;
}

/* MOBILE */


.mobile-menu {
      display: none;
      width: 100%;
      background: ;
      line-height: 0.9em;
      font-weight: 400;
      width: 100%;
      text-align:center;
      position: relative;
      margin:0 auto;
}


.mobile-menu ul {
      list-style-type:none;
      margin: 0 auto;
      padding-left:0;
      text-align:center;
      width:100%;
      position: fixed;
      background: white;
      display: none;
}


.mobile-menu li {
    	display: inline-block;
}


.mobile-menu li a {
    	display: block;
    	min-width: 140px;
    	text-align: center;
    	color: #8c7f50;
      font-weight: 200;
      text-transform: uppercase;
    	background: white;
    	text-decoration: none;
      padding: 10px 0;
}


.mobile-menu li:hover a {
    	color:  rgba(72,72,72,0.4);
      background-color:  rgba(72,72,72,0.4);
}



.mobile-menu li ul {
    	display: none;
}


.mobile-menu li ul li {
    	display: block;
    	float: none;
}


.mobile-menu li ul li a {
    	width: auto;
    	min-width: 100px;
    	padding: 0 20px;
}



.mobile-menu .show-menu {
    	text-decoration: none;
    	color: black;
    	background: white;
    	text-align: center;
    	padding: 10px 15px;
    	display: none;
      cursor: pointer;
      text-transform: uppercase;
      margin-bottom: 0;
      height: 60px;
}

.mobile-menu .show-menu span{
       padding-left: 35px;
}


.mobile-menu input[type=checkbox]{
        display: none;
}


.mobile-menu input[type=checkbox]:checked ~ #menu{
        display: block;
}




@media screen and (max-width : 768px){
   .lines {
        border-bottom: 15px double white;
        border-top: 5px solid white;
        content:"";
        height: 5px;
        width:20px;
        padding-right:15px;
        float: right;
}

.mobile-menu {
      display: block;
      width: 100%;
      background: ;
      line-height: 0.9em;
      font-weight: 400;
      width: 100%;
      text-align:center;
      position: relative;
      margin:0 auto;
}


	.mobile-menu ul {
  		position: static;
  		display: none;
	}

	.mobile-menu li {
  		margin-bottom: 1px;
	}

	.mobile-menu ul li, .mobile-menu li a {
  		width: 100%;
	}

	.mobile-menu .show-menu {
  		display: block;
	}

  header .logo {
    margin-top: -2px;;
  }
}


@media (max-width: 768px) {

    .desktop-nav {
        display: none;
    }
    .logo-container .logo {
       display: inline-block;
    }
    header {
      height: 60px;

    }

    .hero {

         height: calc(85vh - 85px);
   }
   p {
     font-size: 80px;
     padding-top: 200px;
   }
}


/* MAIN */

main {
        height: calc(900px +100px);
        width: 100%;
}

div.Products-heading {
      height: 100px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      font-size: 50px;
      font-weight: 100;
      color: #a1917c;
}



div.Card {
      border: solid 5px #e9e9e9;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      width: 300px;
      height: 400px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      border-radius: 2px;
      display: inline-block;
  }

div.Card:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.Card img {
      height: 300px;
      width: 300px;
}

div.lowerCard {
      color: #3e3e3e;
      position: absolute;
      background: #e9e9e9;
      padding: 5px 5px;
      height: 100px;
      text-align: center;
      width: 300px;
}

h3 {
    font-weight: 200;
}


li.CardList {
  display: inline-block;
  margin-right: 60px;
  margin-top: 40px;
}

ul.CardList {
 padding-left: 90px;
 padding-top: 40px;
}



@media (max-width: 960px) {
  ul.CardList {
    padding-left: 320px;
  }

  div.Card {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .Card img {
    height: 300px;
    width: 300px;
  }

  div.lowerCard {
    position: absolute;
    background: #e9e9e9;
    padding: 5px 5px;
    height: 100px;
    text-align: center;
    width: 300px;
  }

  li.CardList {

    display: inline-block;
  }
}

@media (max-width: 850px) {
    div.Card {
          border: solid 5px #e9e9e9;
          display: inline-block;
          position: relative;
          overflow: hidden;
    }

      ul.CardList {
          margin: 0;
          padding-left: 250px;
          padding-top: 40px;
      }
  }


@media (max-width: 730px) {
    div.Card {
          border: solid 5px #e9e9e9;
          display: inline-block;
          position: relative;
          overflow: hidden;
    }
      ul.CardList {
            margin: 0;
            padding-left: 180px;
            padding-top: 40px;
      }
  }

  @media (max-width: 640px) {
      div.Card {
            display: inline-block;
            position: relative;
            overflow: hidden;
      }
        ul.CardList {
            margin: 0;
            padding-left: 140px;
            padding-top: 40px;
        }
    }

    @media (max-width: 574px) {
        div.Card {
            display: inline-block;
            position: relative;
            overflow: hidden;
        }

          ul.CardList {
              margin: 0;
              padding-left: 100px;
              padding-top: 40px;
          }

          .hero {
               height: calc(65vh - 65px);
         }

         .hero p {
           padding-top: 62px;
         }

         hr {
           width: 400px;
         }
      }


      @media (max-width: 500px) {
          div.Card {
            border: solid 5px #e9e9e9;
            display: inline-block;
            position: relative;
            overflow: hidden;
          }

            ul.CardList {
              margin: 0;
              padding-left: 90px;
              padding-top: 10px;

            }

            p {
              padding-top: 50px;
            }
        }

        @media (max-width: 433px) {
            div.Card {
              display: inline-block;
              position: relative;
              overflow: hidden;
            }

              ul.CardList {
                margin: 0;
                padding-left: 65px;
                padding-top: 0px;
              }

              hr {
                width: 200px;
              }
              .hero {
                  height: calc(45vh - 45px);
              }
          }


footer {
    height: 400px;
    background: white;
    text-align: center;
    margin-top: 150px;
}

footer a {
    color: #999;
    line-height: 2;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    color: #8c7f50;
}

.footer-mobile {
    display: none;
    text-align: center;
}




.footer-nav ul {
     margin-top: 10px;
     padding: 0;
     width: calc(100% - 40px);
}

.footer-nav li {
    display: inline-block;
    margin-left: calc(60px - 20px);
}

  .social-icons i {
       font-size: 3em;
       margin-right: 5px;
 }


  @media (max-width: 768px) {
      .footer-mobile {
          display: block;
      }

      .footer-nav {
          display: none;
      }

      .social-icons li {
        display: inline-block;
        padding-right: 30px;
      }

      footer {
        margin-top: 200px;
      }
}
