/* HOME PAGE */

/* GENERAL STYLES */


h1, h3 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-weight: 900;
    font-family: 'Lobster', cursive;
    font-size: 7em;
    color: white;
    margin-top: 10px;
    /* background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

h2 {
    font-size: 40px;
    font-weight: 200;
    color: #a1917c;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}

p {
    font-family: 'sans-serif', sans-serif;
}

/* header {

    height: 80px;
    background: rgba(72,72,72,0.4);
    padding-top: 20px;

} */

header .logo {
  height: 50px;
  width: 40px;
  margin-top: -2px;
  margin-top: 8px;
}

.hero-text-container {
  display: block;
}


.desktop-nav .logo {
    float: left;
}


.desktop-nav ul {
    float: right;
    margin-top: 30px;
    padding: 0;
    /* width: calc(100% - 60px); */
    text-align: right;
    /* background: rgba(72,72,72,0.4); */
}

.desktop-nav li {
    display: inline-block;
    margin-left: calc(90px - 30px);
}

.desktop-nav a,
.desktop-nav a:visited {
    /* color: #a1917c; */
    color: #8c7f50;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: .09%;
    color: white;
    text-decoration: none;
}

/* MOBILE */

.mobile-menu {
      display: none;
      width: 100%;
      background: ;
      line-height: 0.9em;
      font-weight: 400;
      width: 100%;
      text-align:center;
      position: relative;
      margin:0 auto;
}

.mobile-menu ul {
      list-style-type:none;
      margin: 0 auto;
      padding-left:0;
      text-align:center;
      width:100%;
      position: fixed;
      background: white;
      display: none;
}


.mobile-menu li {
    	display: inline-block;
}


.mobile-menu li a {
    	display: block;
    	min-width: 140px;
    	text-align: center;
    	color: #8c7f50;
      font-weight: 200;
      text-transform: uppercase;
    	background: white;
    	text-decoration: none;
      padding: 10px 0;
}


.mobile-menu li:hover a {
    	  color:  rgba(72,72,72,0.4);
        background-color:  rgba(72,72,72,0.4);
}



/* .mobile-menu li:hover .mobile-menu ul a:hover {
	color:  rgba(72,72,72,0.4);
} */


.mobile-menu li ul {
  	display: none;
}

.mobile-menu li ul li {
  	display: block;
  	float: none;
}


.mobile-menu li ul li a {
  	width: auto;
  	min-width: 100px;
  	padding: 0 20px;
}


.mobile-menu .show-menu {
  	text-decoration: none;
  	color: black;
  	background: white;
  	text-align: center;
  	padding: 10px 15px;
  	display: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 60px;
}

.mobile-menu .show-menu span{
   padding-left: 35px;
}


.mobile-menu input[type=checkbox]{
    display: none;
}


.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}




@media screen and (max-width : 768px){
   .lines {
    border-bottom: 15px double white;
    border-top: 5px solid white;
    content:"";
    height: 5px;
    width:20px;
    padding-right:15px;
    float: right;
}
.mobile-menu {
      display: block;
      width: 100%;
      background: ;
      line-height: 0.9em;
      font-weight: 400;
      width: 100%;
      text-align:center;
      position: relative;
      margin:0 auto;
}

	.mobile-menu ul {
		position: static;
		display: none;
	}

	.mobile-menu li {
		margin-bottom: 1px;
	}

	.mobile-menu ul li, .mobile-menu li a {
		width: 100%;
	}

	.mobile-menu .show-menu {
		display:block;
	}

  header .logo {
    margin-top: -2px;;
  }
}



@media (max-width: 768px) {
    /* header {
      height: 60px;

    }
    header .logo {
      margin-top: 2px;
    } */

    .desktop-nav {
        display: none;
    }
    .logo-container .logo {
       display: inline-block;
       margin-top:
    }
}

/* HERO STYLES */
.hero {
    height: calc(100vh - 100px);
    background: #999;
    background: linear-gradient(rgba(255, 255, 255, 0) 98%,rgb(255, 255, 255) 99%),  url(https://www.theo2.co.uk/assets/img/DRAKE_SAMNEILL_01-3694a9dacf.jpg) no-repeat;);
    background-size: cover;
    color: white;
    text-align: center;
    background-position: top;
    background-size: cover;
    height: 900px;
}

.hero-text-container {
    padding-top: 15vh;
}

.hero-text-container h1 {
    margin-bottom: 20px;
}

.hero-text-container p {
    margin-bottom: 30px;
}

@media (max-width: 900px) {
  .hero {
      background-image: linear-gradient(rgba(0,0,0,0.1)20%,rgba(255, 255, 255, 1)), url(https://www.theo2.co.uk/assets/img/DRAKE_SAMNEILL_01-3694a9dacf.jpg) no-repeat;);
      height: calc(85vh - 85px);

  }
  .hero h1 {
      font-size: 90px;
      margin-top: 0px;
  }
}

@media (max-width: 700px) {
    .hero {
        background-image: linear-gradient(rgba(0,0,0,0.1)20%,rgba(255, 255, 255, 1)), url(https://www.theo2.co.uk/assets/img/DRAKE_SAMNEILL_01-3694a9dacf.jpg) no-repeat;);
        height: calc(75vh - 75px);

    }
    .hero h1 {
        font-size: 80px;
        margin-top: -50px;
    }
}

@media (max-width: 500px) {
  .hero {
      background-image: linear-gradient(rgba(0,0,0,0.1)20%,rgba(255, 255, 255, 1)), url(https://www.theo2.co.uk/assets/img/DRAKE_SAMNEILL_01-3694a9dacf.jpg) no-repeat;);
      height: calc(50vh - 50px);
  }
  .hero h1 {
      font-size: 60px;
      margin-top: -75px;
  }
    }


/* FOOTER */

/* General styles */

footer {
    height: 700px;
    background: white;
    text-align: center;
    padding-top: 350px;
}

footer a {
    color: #999;
    line-height: 2;
    text-align: center;
}

/* MOBILE*/


.footer-mobile {
    display: none;
    text-align: center;
}

 .footer-nav ul {
    margin-top: 10px;
    padding: 0;
    width: calc(100% - 40px);
}

.footer-nav li {
    display: inline-block;
    margin-left: calc(60px - 20px);
}

.social-icons i {
    font-size: 3em;
    margin-right: 5px;
}


@media (max-width: 768px) {
    .footer-mobile {
        display: block;
    }
    .footer-nav {
        display: none;
    }


    .social-icons li {
      display: inline-block;
      padding-right: 30px;
    }

    footer {
      margin-top: 40px;
      padding: 0;
    }
